@import "../style/font-face.css";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tw-font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

html,
body {
  overscroll-behavior: none;
  background-color: #2c3627;
}


body {
  color: var(--foreground);
  font-family: var(--tw-font-sans);
}
 